<!-- {% extends 'layout.html' %}

{% block title %}
    Register Page
{% endblock %}
{% block content %}

    <body>
        <br>
        <div class="button">
            <button type="button" class="btn btn-primary" id="influencerReg">Register as an Influencer</button>
        </div>
        <br>
        <div class="button">
            <button type="button" class="btn btn-primary" id="sponsorReg">Register as a Sponsor</button>
        </div>
    <script type>
      document.getElementById("influencerReg").onclick = function() {
        location.href = "{{ url_for('register_influencer') }}"; // Replace with the URL of the page you want to redirect to
      };
      document.getElementById('sponsorReg').addEventListener('click', function() {
        location.href = "{{ url_for('register_sponsor') }}"; // Replace with the URL of the page you want to redirect to
      });
    </script>
</body>
{% endblock %} -->